/*--head---*/

.head__wrapper {
    background: url("imgs/main_background.png") no-repeat;
    background-size: cover;
    height: 660px;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
}

.head__title {
    font-size: 65px;
    font-family: ZonaProRegular, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 206px;
}

.head__link {
    font-family: PoppinsSemiBold, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 61px;
    background-color: #297EBD;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.77em 1.36em;
    outline: none;
}