/*-----how-to-work-----*/
.how-to-work {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-to-work__p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.how-to-work__p:after {

}

.how-to-work__stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.how-to-work__stage > img:before {
    content: '1';

}

.how-to-work__stage_number {
    font-family: ZonaProBold, sans-serif;
    color: rgba(0, 0, 0, 0.1);
    font-size: 75px;
    line-height: 88px;
    position: absolute;
    left: 20px;
}

.how-to-work__stage_p {
    font-family: ZonaProBold, sans-serif;
    color: #1A1A1A;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

}

/*-----end how-to-work-----*/